@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Inter:wght@100;200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 0;
}

/* Color Palette :
                    #262626  Eerie black
                    #EBEBEB  Anti-flash white
                    #F4E0E6  Lavander blush
                    #EFD2DB  Mimi pink     (darker)
                    #EAC3CE  Fairy Tale    (darkest)
*/
/* font-family: 'Dancing Script', cursive;
font-family: 'Inter', sans-serif; */
header {
  background-color: #EAC3CE;
  position: sticky;
  top: 0rem;
  min-width: 100%;
  z-index: 10;
}

.toggler-div {
  padding: 1rem;
  cursor: pointer;
  border-style: hidden;
}

.navbar-link-li {
  color: #262626;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding-block: 2rem;
}

.navbar-link-li:hover {
  padding-block: 1.9rem;
  border-bottom: solid;
  transition: all;
  transition-duration: 0.5s;
}

.img-home {
  max-width: 4.5rem;
  padding-left: 1rem;
}

.brand-name h1 {
  font-family: "Dancing Script", cursive;
  letter-spacing: 0.1rem;
  font-size: 1.8rem;
  font-weight: 500;
}

main {
  background-color: #F4E0E6;
  /* background-image: url("../img/logo-sin-fondo.PNG");
  background-repeat:repeat-y; */
  min-width: 100%;
  background-position: center top;
  font-family: "Inter", sans-serif;
  padding-block: 3rem;
  padding-inline: 3rem;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* ---------------------HOME-PAGE------------------------ */
.texto-img-carrusel {
  color: #262626;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.365);
  border-radius: 0.5rem;
  padding-inline: 0.2rem;
}

.links-carrusel {
  text-decoration: none;
}
.links-carrusel :hover {
  background-color: #EBEBEB;
  transition: all;
  transition-duration: 0.5s;
}

/* ------------------------------------------------------- */
/* ---------------------Agenda-Tu-Cita------------------------ */
.boton {
  background-color: #EAC3CE;
  color: #262626;
  border-color: #EAC3CE;
}

.boton:hover {
  background-color: #EAC3CE;
  border-color: #262626;
  color: #262626;
}

.agenda-tu-cita {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 2rem;
}

.formulario {
  padding: 2rem;
  border: solid;
  border-color: rgba(38, 38, 38, 0.2078431373);
  border-radius: 0.8rem;
}

/* ------------------------------------------------------- */
/*---------------Servicios-------------------*/
.galeria-servicios {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
}

.ul-li-servicios {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 0;
  gap: 1rem;
}
@media (min-width: 576px) and (max-width: 992px) {
  .ul-li-servicios {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 993px) {
  .ul-li-servicios {
    grid-template-columns: repeat(3, 1fr);
  }
}

.lista-servicios img {
  width: 100%;
  height: auto;
}

/*----------------------------------*/
/*------------Productos----------------------*/
.table-productos th {
  text-align: center;
}
.table-productos td {
  text-align: center;
}

.lista-productos img {
  width: 100%;
  height: auto;
}

/*----------------------------------*/
.heading-mediano {
  font-size: 1.7rem;
}
@media (min-width: 576px) and (max-width: 992px) {
  .heading-mediano {
    font-size: 2rem;
  }
}
@media (min-width: 993px) {
  .heading-mediano {
    font-size: 3rem;
  }
}

.texto-normal {
  font-size: 0.9rem;
  text-align: unset;
}
@media (min-width: 576px) and (max-width: 992px) {
  .texto-normal {
    font-size: 1.2rem;
  }
}
@media (min-width: 993px) {
  .texto-normal {
    font-size: 1.4rem;
  }
}

.productos-p {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.servicios-p {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

footer {
  background-color: #262626;
  margin-top: auto;
  color: #EBEBEB;
}

.direccion {
  align-content: center;
  background-position: center;
  text-align: center;
}

iframe {
  /* border: 0; */
  width: 75%;
  max-height: 7rem;
  border-style: hidden;
  padding: 1rem;
  border-radius: 1.5rem;
}

.sociales {
  font-style: normal;
  color: #EBEBEB;
  text-align: center;
  padding: 1rem;
}/*# sourceMappingURL=estilo.css.map */