@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Inter:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Color Palette :
                    #262626  Eerie black
                    #EBEBEB  Anti-flash white
                    #F4E0E6  Lavander blush
                    #EFD2DB  Mimi pink     (darker)
                    #EAC3CE  Fairy Tale    (darkest)
*/

/* font-family: 'Dancing Script', cursive;
font-family: 'Inter', sans-serif; */


/*------------------------------HEADER-----------------------*/
header {
    background-color: #EAC3CE;
    position: sticky;
    top: 0rem;
    min-width: 100%;
    z-index: 10;

}

.toggler-div{
    padding: 1rem;
    cursor: pointer;
    border-style: hidden;
}

.navbar-link-li{
    color: #262626;
    text-decoration: none;
    font-size: 1rem;
    text-transform:uppercase;
    letter-spacing: .1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    padding-block: 2rem;
}

.navbar-link-li:hover{
    padding-block: 1.9rem;
    border-bottom: solid;
    
}


.img-home{
    max-width: 4.5rem;
    padding-left: 1rem;
    
}

.brand-name{
    font-family: 'Dancing Script', cursive;
    letter-spacing: .1rem;
    font-size: 1.4rem;
    font-weight: 600;
}

/* ---------------------MAIN-----BODY------------------- */
main {
    background-color: #F4E0E6;
    /* background-image: url("../img/logo-sin-fondo.PNG");
    background-repeat:repeat-y; */
    min-width: 100%;
    background-position: center top;
    font-family: 'Inter', sans-serif;
    padding-block: 4rem;
    padding-inline: 3rem;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    
}

/* ---------------------HOME-PAGE------------------------ */
.home-text {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 2rem;
}
/* ------------------------------------------------------- */

/* ---------------------Agenda-Tu-Cita------------------------ */

.boton {
    background-color: #EAC3CE;
    color: #262626;
    border-color: #EAC3CE;
}
.boton:hover {
    background-color: #EAC3CE;
    border-color: #262626;
    color: #262626;
}

.agenda-tu-cita {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 2rem;
}

.formulario{
    padding: 2rem;
    border: solid;
    border-color: #26262635;
    border-radius: .8rem;
}



/* ------------------------------------------------------- */
/*---------------Servicios-------------------*/
.galeria-servicios {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
}

.ul-li-servicios {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 0;


   
    @media (min-width: 576px) and (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }

 
    @media (min-width: 993px) {
        grid-template-columns: repeat(3, 1fr);
    }

    gap: 1rem;
}



.lista-servicios img {
    width: 100%;
    height: auto;
}
/*----------------------------------*/
/*------------Productos----------------------*/
.galeria-servicios {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
}

.ul-li-productos {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr; 
    padding-left: 0;

    @media (min-width: 576px) and (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
    }

    gap: 1rem; 
}

.lista-productos img {
    width: 100%;
    height: auto;
}
/*----------------------------------*/
.sobre-nosotros {
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.sobre {
    font-size: 2rem;
    padding-bottom: 2rem;
}

.sobre-texto {
    font-size: 1rem;
    text-align: justify;
}

.productos-p {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.servicios-p {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

/* -------------------------FOOTER------------------------- */
footer {
    background-color: #262626;
    margin-top: auto;
}

.direccion {
    align-content: center;
    background-position: center;
    text-align: center;
}

iframe {
    /* border: 0; */
    width: 50%;
    border-style: hidden;
    padding: 1rem;

}

.sociales {
    font-style: normal;
    color: #EBEBEB;
    text-align: center;
    padding: 1rem;

}


/* ----------------------IMAGES---------------------------- */


.img-home img {
    display: block;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;


}

.texto-img-home {
    text-align: justify;
    padding-block: 2rem;
}

