footer {
    background-color: #262626;
    margin-top: auto;
}

.direccion {
    align-content: center;
    background-position: center;
    text-align: center;
}

iframe {
    /* border: 0; */
    width: 50%;
    border-style: hidden;
    padding: 1rem;

}

.sociales {
    font-style: normal;
    color: #EBEBEB;
    text-align: center;
    padding: 1rem;

}