footer {
    background-color: #262626;
    margin-top: auto;
    color: $white;
}

.direccion {
    align-content: center;
    background-position: center;
    text-align: center;
}

iframe {
    /* border: 0; */
    width: 75%;
    max-height: 7rem;
    border-style: hidden;
    padding: 1rem;
    border-radius: 1.5rem;

}

.sociales {
    font-style: normal;
    color:$white;
    text-align: center;
    padding: 1rem;

}