@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Inter:wght@100;200;300;400;500;600&display=swap');

/* Color Palette :
                    #262626  Eerie black
                    #EBEBEB  Anti-flash white
                    #F4E0E6  Lavander blush
                    #EFD2DB  Mimi pink     (darker)
                    #EAC3CE  Fairy Tale    (darkest)
*/

/* font-family: 'Dancing Script', cursive;
font-family: 'Inter', sans-serif; */

$black: #262626;
$white: #EBEBEB;
$pink: #F4E0E6 ;
$darkerPink: #EFD2DB;
$darkestPink: #EAC3CE;

$mainFont: 'Inter', sans-serif;
$cursiveFont: 'Dancing Script', cursive;